#q-title{
  font-size: 28px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#q-asker{
  font-style: italic;
  margin-top: 0px;
  padding-top: 0px;
}

li{
  padding-top: 30px;
}

ul{
  list-style: none;
}
