
  <!-- Upper Nav Bar -->
  <header>
    <h1 id="site-title">{{#link-to 'index'}}QuestionAnswer{{/link-to}}</h1>
    <h3 id="site-subtitle">{{#link-to 'favorites'}}<span class="glyphicon glyphicon-star"></span>My Favorite Answers<span class="glyphicon glyphicon-star"></span>{{/link-to}}</h3>
  </header>

  <div id="content">
    <!-- Body -->
    <div class="container">
      {{outlet}}
    </div>
  </div>

  <!-- Footer -->
  <footer>
    Made by Amanda Daly for JavaScript at Epicodus
  </footer>
