<h1>Welcome to QuestionAnswer</h1>

Please keep it appropriate.

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
<hr>
{{new-question saveq="saveq"}}

<h2>Answers</h2>
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.atext}}</li>
  {{/each}}
</ul>

{{new-answer savea="savea"}}
