<h1>Welcome to QuestionAnswer</h1>

Please keep it appropriate.

<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveq="saveq"}}
