<div id="q-title">{{model.title}}</div>
<div id="q-asker">{{model.asker}}</div>


{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}
